/* public/styles.css */
/* public/styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 600px;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    transition: box-shadow 0.3s ease; /* Add transition effect for hover */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.container:hover {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Add hover effect with box shadow */
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

input:hover {
    border-color: #007BFF;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

